<head>
  <meta name="description" content="Main page is a test page just now" />
</head>
<body>
  <div style="max-width: 400px; margin: auto; padding: 0.5em 1em">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Angular Material SSR</mat-card-title>
      <mat-card-subtitle>Lighthouse Test</mat-card-subtitle>
      <img
        src="../assets/butterfly.svg"
        alt="card header image"
        style="width: 40px; height: 40px"
        mat-card-avatar
      />
    </mat-card-header>
    <img
      src="../assets/metro.svg"
      alt="card main image"
      style="width: 400px; height: 400px"
      mat-card-image
    />
    <mat-card-content>
      <p>More Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </mat-card-content>
    <mat-card-actions style="margin-top: 1em;">
      <button mat-raised-button color="primary" style="margin-inline: 1em;">Details</button>
      <button mat-raised-button color="primary" style="margin-inline: 1em;">Back</button>
      <button mat-raised-button color="primary" style="margin-inline: 1em;">New</button>
    </mat-card-actions>
    <mat-card-footer>
      <div style="box-sizing: border-box; padding: 1em;"></div>
    </mat-card-footer>
  </mat-card>
</div>
  <router-outlet></router-outlet>
</body>
